.top
  .top__left
    = current_user.name
  .top__right
    =link_to new_group_path, class: "top__right__btn" do
      = icon('fas', 'edit')
    =link_to edit_user_path(current_user), class: "top__right__btn" do
      = icon('fas', 'cog')

.middle
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to new_group_path do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。
  
